asgiref==3.8.1
Django==4.2.1
django-filter==22.1
django-phonenumber-field==7.0.2
djangorestframework==3.14.0
Markdown==3.4.3
phonenumbers==8.13.6
phonenumberslite==8.13.6
Pillow==9.5.0
sqlparse==0.4.4
